<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatu.paike.dal.sys.mapper.TimeConfMapper">
  <resultMap id="BaseResultMap" type="com.huatu.paike.dal.sys.entity.TimeConf">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NODE_ID" jdbcType="BIGINT" property="nodeId" />
    <result column="EFFECT_CHILD" jdbcType="BIT" property="effectChild" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATOR_ID" jdbcType="BIGINT" property="creatorId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, NODE_ID, EFFECT_CHILD, CREATE_TIME, UPDATE_TIME, CREATOR_ID
  </sql>
  <delete id="deleteByFilter" parameterType="com.huatu.paike.dal.sys.entity.TimeConfCriteria">
    <!--
      WARNING - @mbg.generated
    -->
    delete from TIME_CONF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="queryList" parameterType="com.huatu.paike.dal.sys.dto.TimeConfQueryParams"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM TIME_CONF
		<where>
			<if test="null != nodeIds and nodeIds.size > 0">
				and NODE_ID in
				<foreach collection="nodeIds" item="nodeId" open="(" separator=","
					close=")">
					#{nodeId}
				</foreach>
			</if>
		</where>
	</select>
</mapper>