
**/target/**

**/logs/**
# Eclipse
.classpath
.project
.settings/

**/rebel.xml

# Intellij
**/.idea/**
.idea/**
*.iml
**/*.iml
*.iws
**/out

# Mac
.DS_Store

# Maven
**/log/**
**/target
**/*.log
**/tmp
**/.tmp
**/bin/**

# vscode
**/*.factorypath
**/setting.json
.vscode/

**/logs/**