<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatu.paike.dal.teacher.mapper.TeacherLessonTableMapper">

	<resultMap id="TeacherLessonTable"
		type="com.huatu.paike.dal.teacher.entity.TeacherLessonTable">
		<result column="ID" jdbcType="BIGINT" property="id" />
		<result column="CLASS_ID" jdbcType="BIGINT" property="classId" />
		<result column="LESSON_TABLE_ID" jdbcType="BIGINT" property="lessonTableId" />
		<result column="TEACHER_NO" jdbcType="VARCHAR" property="teacherNo" />
		<result column="TEACHER_TYPE" jdbcType="TINYINT" property="teacherType" />
		<result column="STAGE_ID" jdbcType="BIGINT" property="stageId" />
		<result column="SUBJECT_ID" jdbcType="BIGINT" property="subjectId" />
		<result column="NODE_ID" jdbcType="BIGINT" property="nodeId" />
		<result column="SCORE" jdbcType="INTEGER" property="score" />
		<result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
		<result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
		<result column="DURATION" jdbcType="INTEGER" property="duration" />
		<result column="DAYS" jdbcType="INTEGER" property="days" />
		<result column="STATUS" jdbcType="TINYINT" property="status" />
		<result column="TEACH_WAY" jdbcType="TINYINT" property="teachWay" />
	</resultMap>

	<select id="queryTeacherLessonTables" resultMap="TeacherLessonTable">
		select
		tem.*
		from
		(
		<include refid="queryListByTeacherNo_DoubleTeacher_Master" />
		UNION ALL
		<include refid="queryListByTeacherNo_Assistant" />
		UNION ALL
		<include refid="queryListByTeacherNo_F2F_Master" />
		) tem
		ORDER By
		tem.start_date desc
		<include refid="pageTool" />
	</select>

	<select id="countTeacherLessonTables" resultType="Integer">
		select count(1)
		from
		(
		<include refid="queryListByTeacherNo_DoubleTeacher_Master" />
		UNION
		<include refid="queryListByTeacherNo_Assistant" />
		UNION
		<include refid="queryListByTeacherNo_F2F_Master" />
		) tem
	</select>

	<sql id="pageTool">
		<if test="null != pageDto">
			limit
			${(pageDto.pageNum-1)*pageDto.pageSize},#{pageDto.pageSize}
		</if>
	</sql>

	<!-- 查询双师主讲端老师 -->
	<sql id="queryListByTeacherNo_DoubleTeacher_Master">
		SELECT
		ltd.ID AS ID,
		NULL AS CLASS_ID,
		lt.ID AS LESSON_TABLE_ID,
		ltd.TEACHER_NO AS TEACHER_NO,
		1 AS TEACHER_TYPE,
		lt.STAGE_ID AS
		STAGE_ID,
		lt.SUBJECT_ID AS SUBJECT_ID,
		lt.NODE_ID AS NODE_ID,
		0 AS SCORE,
		MIN( lttd.START_TIME ) AS START_DATE,
		MAX( lttd.END_TIME ) AS END_DATE,
		SUM( lttd.DURATION ) AS DURATION,
		1 AS DAYS,
		NULL AS `STATUS`,
		4 AS
		TEACH_WAY
		FROM
		lesson_table lt,
		lesson_table_detail ltd,
		lesson_table_time_detail lttd
		WHERE
		lt.ID = ltd.TIME_TABLE_ID
		AND ltd.ID = lttd.LESSON_DETAIL_ID
		AND lt.IS_DEL = 0
		AND ltd.IS_DEL = 0
		AND lttd.is_DEL = 0
		<if test="null != startDate">
			AND lttd.END_TIME>#{startDate}
		</if>
		<if test="null != endDate">
			AND #{endDate} >lttd.START_TIME
		</if>
		<if test="teacherNos!=null and teacherNos.size>0">
			AND ltd.TEACHER_NO in
			<foreach close=")" collection="teacherNos" item="teacherNo"
				open="(" separator=",">
				#{teacherNo}
			</foreach>
		</if>
		GROUP BY
		ltd.id
	</sql>

	<!-- 助教老师 -->
	<sql id="queryListByTeacherNo_Assistant">
		SELECT
		cl.CSST_ID AS ID,
		csst.CLASS_ID AS CLASS_ID,
		csst.LESSON_TABLE_ID AS
		LESSON_TABLE_ID,
		csst.TEACHER_STAFF_NO AS TEACHER_NO,
		2 AS TEACHER_TYPE,
		csst.STAGE_ID AS STAGE_ID,
		csst.SUBJECT_ID AS
		SUBJECT_ID,
		csst.NODE_ID AS NODE_ID,
		csst.SCORE AS SCORE,
		csst.START_DATE AS START_DATE,
		csst.END_DATE AS END_DATE,
		csst.DURATION AS DURATION,
		COUNT(DISTINCT cl.LESSON_DATE) AS days,
		csst.STATUS AS `STATUS`,
		csst.TEACH_WAY AS TEACH_WAY
		FROM
		class_stage_subject_teacher csst,
		lesson_teacher lt,
		class_lesson cl
		WHERE
		csst.id = lt.csst_id
		and lt.teacher_type = 2
		and lt.lesson_id = cl.id
		<if test="null != startDate">
			AND csst.END_DATE>#{startDate}
		</if>
		<if test="null != endDate">
			AND #{endDate} >csst.START_DATE
		</if>
		<if test="teacherNos!=null and teacherNos.size>0">
			AND csst.TEACHER_STAFF_NO in
			<foreach close=")" collection="teacherNos" item="teacherNo"
				open="(" separator=",">
				#{teacherNo}
			</foreach>
		</if>
		GROUP BY
		csst.id,cl.CSST_ID
	</sql>

	<!-- 面授主讲老师老师 -->
	<sql id="queryListByTeacherNo_F2F_Master">
		SELECT
		csst.ID AS ID,
		csst.CLASS_ID AS CLASS_ID,
		null AS LESSON_TABLE_ID,
		csst.TEACHER_STAFF_NO AS TEACHER_NO,
		csst.TEACHER_TYPE AS TEACHER_TYPE,
		csst.STAGE_ID AS STAGE_ID,
		csst.SUBJECT_ID AS SUBJECT_ID,
		csst.NODE_ID
		AS NODE_ID,
		csst.SCORE AS SCORE,
		csst.START_DATE AS START_DATE,
		csst.END_DATE AS END_DATE,
		csst.DURATION AS DURATION,
		COUNT(DISTINCT
		cl.LESSON_DATE) AS days,
		csst.STATUS AS
		`STATUS`,
		csst.TEACH_WAY AS
		TEACH_WAY
		FROM
		class_stage_subject_teacher
		csst,
		lesson_teacher lt,
		class_lesson cl
		WHERE
		csst.id = lt.csst_id
		and lt.teacher_type = 1
		and csst.teach_way = 0
		and lt.lesson_id = cl.id
		<if test="null != startDate">
			AND csst.END_DATE>#{startDate}
		</if>
		<if test="null != endDate">
			AND #{endDate} >csst.START_DATE
		</if>
		<if test="teacherNos!=null and teacherNos.size>0">
			AND csst.TEACHER_STAFF_NO in
			<foreach close=")" collection="teacherNos" item="teacherNo"
				open="(" separator=",">
				#{teacherNo}
			</foreach>
		</if>
		GROUP BY
		csst.id
	</sql>
	
	<resultMap id="TeacherLessonTableDetail"
		type="com.huatu.paike.dal.teacher.entity.TeacherLesssonTableDetail">
		<result column="lesson_id" jdbcType="BIGINT" property="lessonId" />
		<result column="lesson_Table_Detail_Id" jdbcType="BIGINT" property="lessonTableDetailId" />
		<result column="class_Id" jdbcType="BIGINT" property="classId" />
		<result column="lesson_Table_Id" jdbcType="BIGINT" property="lessonTableId" />
		<result column="STAGE_ID" jdbcType="BIGINT" property="stageId" />
		<result column="SUBJECT_ID" jdbcType="BIGINT" property="subjectId" />
		<result column="SCORE" jdbcType="INTEGER" property="score" />
		<result column="LESSON_DATE" jdbcType="TIMESTAMP" property="lessonDate" />
		<result column="DURATION" jdbcType="INTEGER" property="duration" />
		<result column="STATUS" jdbcType="TINYINT" property="status" />
		<result column="TEACH_WAY" jdbcType="INTEGER" property="teachWay" />
		<result column="TEACHER_TYPE" jdbcType="INTEGER" property="teacherType" />
		<result column="ROOM_ID" jdbcType="BIGINT" property="roomId" />
		<result column="NODE_ID" jdbcType="BIGINT" property="nodeId" />
	</resultMap>
	
	<select id="queryTeacherLessonTableDetails" resultMap="TeacherLessonTableDetail">
		select
		tem.*
		from
		(
		<include refid="queryDetailListByTeacherNo_DoubleTeacher_Master" />
		UNION ALL
		<include refid="queryDetailListByTeacherNo_F2FTeacher_Master" />
		UNION ALL
		<include refid="queryDetailListByTeacherNo_Teacher_Assistant" />
		) tem
		ORDER By
		tem.lesson_date desc
	</select>
	
	<!-- 查询双师主讲端老师课表明细详情 -->
	<sql id="queryDetailListByTeacherNo_DoubleTeacher_Master">
		select  
			NULL AS LESSON_ID,
			a.id AS LESSON_TABLE_DETAIL_ID,
			NULL AS CLASS_ID,
			a.TIME_TABLE_ID AS LESSON_TABLE_ID,
			b.stage_id AS stage_id,
			b.subject_id AS subject_id,
			0 AS score,
			null AS `STATUS`,
			a.LESSON_DATE AS LESSON_DATE,
			a.DURATION AS DURATION,
			4 AS TEACH_WAY,
			1 AS TEACHER_TYPE,
			a.TEACHER_DEVICE_ID AS ROOM_ID,
			b.node_id AS NODE_ID
		from lesson_table_detail a,
			 lesson_table b,
			 lesson_table_time_detail c
		where 
			a.time_table_id = b.id
			and a.id = c.lesson_detail_id
			and a.teacher_no = #{teacherNo}
			and b.is_del = 0
			and a.is_del = 0
			and c.is_del = 0
			<if test="null != startDate">
				AND c.end_time>#{startDate}
			</if>
			<if test="null != endDate">
				AND #{endDate} >c.start_time
			</if>
			group by a.id
	</sql>
	
	<!-- 查询面试主讲端老师课表明细详情 -->
	<sql id="queryDetailListByTeacherNo_F2FTeacher_Master">
		select  
			a.lesson_id AS LESSON_ID,
			NULL AS LESSON_TABLE_DETAIL_ID,
			b.class_id AS CLASS_ID,
			NULL AS LESSON_TABLE_ID,
			b.stage_id AS stage_id,
			b.subject_id AS subject_id,
			c.score AS score,
			b.status AS `STATUS`,
			b.lesson_date AS LESSON_DATE,
			b.LESSON_DURATION AS DURATION,
			0 AS TEACH_WAY,
			1 AS TEACHER_TYPE,
			b.room_id AS ROOM_ID,
			b.node_id AS NODE_ID
		from lesson_teacher a,
			 class_lesson b,
			 class_stage_subject_teacher c
		where 
			a.lesson_id = b.id
			and a.csst_id = c.id
			and a.teacher_type = 1
			and b.teach_way = 0
			and a.TEACHER_STAFF_NO = #{teacherNo}
			<if test="null != startDate">
				AND b.end_time>#{startDate}
			</if>
			<if test="null != endDate">
				AND #{endDate} >b.start_time
			</if>
			group by b.id
	</sql>
	
	<!-- 查询助教老师课表明细详情 -->
	<sql id="queryDetailListByTeacherNo_Teacher_Assistant">
		select  
			a.lesson_id AS LESSON_ID,
			b.lesson_table_detail_id AS LESSON_TABLE_DETAIL_ID,
			b.class_id AS CLASS_ID,
			NULL AS LESSON_TABLE_ID,
			b.stage_id AS stage_id,
			b.subject_id AS subject_id,
			c.score AS score,
			b.status AS `STATUS`,
			b.lesson_date AS LESSON_DATE,
			b.LESSON_DURATION AS DURATION,
			b.teach_way AS TEACH_WAY,
			2 AS TEACHER_TYPE,
			b.room_id AS ROOM_ID,
			b.node_id AS NODE_ID
		from lesson_teacher a,
			 class_lesson b,
			 class_stage_subject_teacher c
		where 
			a.lesson_id = b.id
			and a.csst_id = c.id
			and a.teacher_type = 2
			and a.TEACHER_STAFF_NO = #{teacherNo}
			<if test="null != startDate">
				AND b.end_time>#{startDate}
			</if>
			<if test="null != endDate">
				AND #{endDate} >b.start_time
			</if>
			group by b.id
	</sql>
</mapper>