<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatu.paike.dal.permission.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.huatu.paike.dal.permission.entity.UserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="STAFF_ID" jdbcType="BIGINT" property="staffId" />
    <result column="NODE_ID" jdbcType="BIGINT" property="nodeId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, ROLE_ID, STAFF_ID, NODE_ID, CREATE_TIME, UPDATE_TIME
  </sql>
  <delete id="deleteByFilter" parameterType="com.huatu.paike.dal.permission.entity.UserRoleCriteria">
    <!--
      WARNING - @mbg.generated
    -->
    delete from user_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO user_role (ROLE_ID, STAFF_ID, NODE_ID) values 
		<foreach collection="list" item="userRole" separator=",">
			(#{userRole.roleId}, #{userRole.staffId}, #{userRole.nodeId})
		</foreach>
	</insert>
</mapper>