<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatu.paike.dal.sms.mapper.SmsRecordDetailMapper">
	<resultMap id="BaseResultMap"
		type="com.huatu.paike.dal.sms.entity.SmsRecordDetail">
		<!-- WARNING - @mbg.generated -->
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="RECORD_ID" jdbcType="BIGINT" property="recordId" />
		<result column="TEMPLATE_ID" jdbcType="BIGINT" property="templateId" />
		<result column="RECIEVER_TYPE" jdbcType="TINYINT" property="recieverType" />
		<result column="RECIEVER_ID" jdbcType="BIGINT" property="recieverId" />
		<result column="RECIEVER_NO" jdbcType="VARCHAR" property="recieverNo" />
		<result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
		<result column="CONTENT" jdbcType="VARCHAR" property="content" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="CREATOR_ID" jdbcType="BIGINT" property="creatorId" />
		<result column="VIEW_STATUS" jdbcType="TINYINT" property="viewStatus" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbg.generated -->
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		ID, RECORD_ID, TEMPLATE_ID, RECIEVER_TYPE, RECIEVER_ID, RECIEVER_NO,
		MOBILE, CONTENT,
		REMARK, CREATE_TIME, UPDATE_TIME, CREATOR_ID, VIEW_STATUS
	</sql>
	<sql id="Base_Column_List_Alias">
		<!-- WARNING - @mbg.generated -->
		a.ID, a.RECORD_ID, a.TEMPLATE_ID, a.RECIEVER_TYPE, a.RECIEVER_ID, a.RECIEVER_NO,
		a.MOBILE, a.CONTENT,
		a.REMARK, a.CREATE_TIME, a.UPDATE_TIME, a.CREATOR_ID, a.VIEW_STATUS
	</sql>
	<delete id="deleteByFilter"
		parameterType="com.huatu.paike.dal.sms.entity.SmsRecordDetailCriteria">
		<!-- WARNING - @mbg.generated -->
		delete from sms_record_detail
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO sms_record_detail (RECORD_ID, TEMPLATE_ID, RECIEVER_TYPE,
		RECIEVER_ID, RECIEVER_NO, MOBILE, CONTENT,CREATOR_ID) values
		<foreach collection="list" item="detail" separator=",">
			(#{detail.recordId}, #{detail.templateId}, #{detail.recieverType},
			#{detail.recieverId}, #{detail.recieverNo}, #{detail.mobile},
			#{detail.content}, #{detail.creatorId})
		</foreach>
	</insert>
	<select id="querySmsCount" resultType="map">
		select a.reciever_no,count(a.id) from sms_record_detail a join sms_record b on a.record_id =
		b.id
		where b.template_id = #{templateId}
		and b.object_no = #{classNo}
		<if test="orderNos!=null and orderNos &gt;0">
			AND a.reciever_no in
			<foreach close=")" collection="orderNos" item="orderNo" open="("
				separator=",">
				#{orderNo}
			</foreach>
		</if>
		group by a.reciever_no
	</select>
	
	<select id="queryList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List_Alias" /> from sms_record_detail a join sms_record b on a.record_id =
		b.id
		where b.template_id = #{templateId}
		and b.object_no = #{classNo}
		<if test="orderNos!=null and orderNos &gt;0">
			AND a.reciever_no in
			<foreach close=")" collection="orderNos" item="orderNo" open="("
				separator=",">
				#{orderNo}
			</foreach>
		</if>
	</select>
</mapper>