<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatu.paike.dal.goodsOrder.mapper.OrderStageSubjectMapper">
  <resultMap id="BaseResultMap" type="com.huatu.paike.dal.goodsOrder.entity.OrderStageSubject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="goods_no" jdbcType="VARCHAR" property="goodsNo" />
    <result column="old_order_no" jdbcType="VARCHAR" property="oldOrderNo" />
    <result column="stage_id" jdbcType="BIGINT" property="stageId" />
    <result column="subject_id" jdbcType="BIGINT" property="subjectId" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="total_duration" jdbcType="BIGINT" property="totalDuration" />
    <result column="paike_duration" jdbcType="BIGINT" property="paikeDuration" />
    <result column="finish_duration" jdbcType="BIGINT" property="finishDuration" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="CREATOR_ID" jdbcType="BIGINT" property="creatorId" />
    <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="LESSON_TABLE_ID" jdbcType="BIGINT" property="lessonTableId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, order_no, goods_no, old_order_no, stage_id, subject_id, `enable`, 
    total_duration, paike_duration, finish_duration, `status`, CREATOR_ID, START_DATE, 
    END_DATE, CREATE_TIME, UPDATE_TIME,LESSON_TABLE_ID
  </sql>
  <delete id="deleteByFilter" parameterType="com.huatu.paike.dal.goodsOrder.entity.OrderStageSubjectCriteria">
    <!--
      WARNING - @mbg.generated
    -->
    delete from order_stage_subject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="batchInsert">
  	insert into order_stage_subject (order_no,goods_no,old_order_no,stage_id,subject_id,enable,total_duration,paike_duration,finish_duration,status,CREATOR_ID,LESSON_TABLE_ID) values
  	<foreach collection="ossList" item="item" separator=",">
  		(#{item.orderNo},#{item.goodsNo},#{item.oldOrderNo},#{item.stageId},#{item.subjectId},#{item.enable},#{item.totalDuration},#{item.paikeDuration},#{item.finishDuration},#{item.status},#{item.creatorId},#{item.lessonTableId})
  	</foreach>
  </insert>
  
  <select id="queryNotEndOrder" resultType="string">
  	select distinct order_no from order_stage_subject where finish_duration&lt;total_duration and total_duration&gt;0 and order_no in
  	<foreach close=")" collection="collection" item="item" open="(" separator=",">
  		#{item}
  	</foreach>
  </select>
  <select id="queryByOrderNos" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from order_stage_subject where order_no in
  	<foreach close=")" collection="collection" item="item" open="(" separator=",">
  		#{item}
  	</foreach>
  </select>
  
  <!-- 查询(指定班级的订单中)订单还未关联班级的阶段科目 -->
  <select id="queryOrderStageSubjectNotInClass" resultMap="BaseResultMap">
  	SELECT tem.*
	FROM
	    (SELECT DISTINCT oss.*
	     FROM order_stage_subject oss,
	          order_class_stage_subject ocss
	     WHERE oss.order_no = ocss.order_no
	         AND ocss.class_id = #{classId}
              <if test="orderNo != null">
                  AND OCSS.ORDER_NO = #{orderNo}
              </if>
	         )
         AS tem
	WHERE NOT EXISTS
	        (SELECT 1
	         FROM order_class_stage_subject ocss
	         WHERE tem.order_no = ocss.order_no
	             AND tem.stage_id = ocss.stage_id
	             AND tem.subject_id = ocss.subject_id)
  </select>

    <update id="updateOrderStatus">
        update order_stage_subject set status = #{status}
        where order_no in
        <foreach collection="orderNoList" item="orderNo" separator="," close=")" open="(">
            #{orderNo}
        </foreach>
        and stage_id = #{stageId} and subject_id = #{subjectId} and #{status}>status
    </update>


    <!-- 查询所有 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="com.huatu.paike.dal.goodsOrder.dto.QueryOrderStageSubjectDto">
        SELECT
        <include refid="Base_Column_List" />
        FROM order_stage_subject
        <where>
        <if test="goodsNo != null">
            AND GOODS_NO=#{goodsNo,jdbcType=VARCHAR}
        </if>
        <if test="orderNo != null">
            AND ORDER_NO=#{orderNo,jdbcType=VARCHAR}
        </if>
        <if test="oldOrderNo != null">
            AND OLD_ORDER_NO=#{oldOrderNo,jdbcType=VARCHAR}
        </if>
        <if test="stageId != null">
            AND STAGE_ID=#{stageId,jdbcType=BIGINT}
        </if>
        <if test="subjectId != null">
            AND SUBJECT_ID=#{subjectId,jdbcType=BIGINT}
        </if>
        <if test="enable != null">
            AND ENABLE=#{enable,jdbcType=INTEGER}
        </if>
        <if test="totalDuration != null">
            AND TOTAL_DURATION=#{totalDuration,jdbcType=BIGINT}
        </if>
        <if test="paikeDuration != null">
            AND PAIKE_DURATION=#{paikeDuration,jdbcType=BIGINT}
        </if>
        <if test="finishDuration != null">
            AND FINISH_DURATION=#{finishDuration,jdbcType=BIGINT}
        </if>
        <if test="status != null">
            AND STATUS=#{status,jdbcType=INTEGER}
        </if>
        <if test="creatorId != null">
            AND CREATOR_ID=#{creatorId,jdbcType=BIGINT}
        </if>
        <if test="startDate != null">
            AND START_DATE=#{startDate,jdbcType=TIMESTAMP}
        </if>
        <if test="endDate != null">
            AND END_DATE=#{endDate,jdbcType=TIMESTAMP}
        </if>
        <if test="createTime != null">
            AND CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            AND UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lessonTableId != null">
            AND LESSON_TABLE_ID=#{lessonTableId, jdbcType=BIGINT}
        </if>
        <if test="orderNos != null and orderNos.size() > 0">
            AND ORDER_NO IN
            <foreach collection="orderNos" index="index" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
      </where>
    </select>

    <!-- 根据订单号查询不在班课时数 -->
    <select id="queryNotInClassDutationByOrders" resultType="map">
        SELECT
        oss.order_no AS 'key',
        sum( oss.total_duration) AS 'value'

        FROM
        order_stage_subject oss
        WHERE
        <if test="orderNos != null and orderNos.size() > 0">
            oss.order_no IN
            <foreach close=") AND " collection="orderNos" item="orderNo" open="(" separator=",">
                #{orderNo}
            </foreach>

        </if>
        NOT EXISTS (
        SELECT
        1
        FROM
        order_class_stage_subject ocss
        WHERE
        ocss.order_no = oss.order_no
        AND ocss.subject_id = oss.subject_id
        AND ocss.stage_id = oss.stage_id
        )
        GROUP BY
        order_no
    </select>

    <!-- 根据订单号查询不在班课时数 -->
    <select id="queryNotInClassSubjectByOrders" resultMap="BaseResultMap">
        SELECT
          oss.*
        FROM
        	order_stage_subject oss
        WHERE
        <if test="orderNos != null and orderNos.size() > 0">
            oss.order_no IN
            <foreach close=") AND " collection="orderNos" item="orderNo" open="(" separator=",">
                #{orderNo}
            </foreach>
        </if>
        NOT EXISTS (
	        SELECT
	        	1
	        FROM
	        	order_class_stage_subject ocss
	        WHERE
	        	ocss.order_no = oss.order_no
	        AND ocss.subject_id = oss.subject_id
	        AND ocss.stage_id = oss.stage_id
        )
    </select>
    
    <select id="queryOrderNosSubjectNotInAnyClass" resultType="string">
    	SELECT
		    OSS.ORDER_NO
		FROM
		    CLASS_STUDENT       CS
		,   ORDER_STAGE_SUBJECT OSS
		WHERE
		    OSS.ORDER_NO    =   CS.ORDER_NO
		AND OSS.STAGE_ID    =   #{stageId}
		AND OSS.SUBJECT_ID  =   #{subjectId}
		AND CS.CLASS_ID     =   #{classId}
		AND NOT EXISTS(
		        SELECT
		            1
		        FROM
		            ORDER_CLASS_STAGE_SUBJECT   OCSS
		        WHERE
		            OCSS.ORDER_NO   =   OSS.ORDER_NO
		        AND OCSS.STAGE_ID   =   OSS.STAGE_ID
		        AND OCSS.SUBJECT_ID =   OSS.SUBJECT_ID
		    )
    </select>
    
    <select id="queryCanInClassOcssInOrderNos" resultMap="com.huatu.paike.dal.goodsOrder.mapper.OrderClassStageSubjectMapper.BaseResultMap">
    	SELECT
		    OSS.ORDER_NO
		,   GCSS.CLASS_ID
		,	GCSS.CLASS_NO
		,	GCSS.GOODS_NO
		,   OSS.STAGE_ID
		,   OSS.SUBJECT_ID
		FROM
		    GOODS_CLASS_STAGE_SUBJECT   GCSS
		,   ORDER_STAGE_SUBJECT         OSS
		WHERE
		    OSS.STAGE_ID    =   GCSS.STAGE_ID
		AND OSS.SUBJECT_ID  =   GCSS.SUBJECT_ID
		AND OSS.GOODS_NO    =   GCSS.GOODS_NO
		AND GCSS.CLASS_ID   =   ?
		AND OSS.ORDER_NO    IN  ()
		AND NOT EXISTS(
		        SELECT
		            1
		        FROM
		            ORDER_CLASS_STAGE_SUBJECT   OCSS
		        WHERE
		            OCSS.ORDER_NO   =   OSS.ORDER_NO
		        AND OCSS.STAGE_ID   =   OSS.ORDER_NO
		        AND OCSS.SUBJECT_ID =   OSS.SUBJECT_ID
		        AND OCSS.CLASS_ID   =   GCSS.CLASS_ID
		    )
	 </select>
	 
    <select id="queryNotUsedSubject" resultMap="BaseResultMap">
    	SELECT * FROM order_stage_subject WHERE order_no=#{orderNo} AND finish_duration=0 AND paike_duration=0
    </select>
    
    <select id="queryNotFinishedStageSubject" resultMap="BaseResultMap">
    	SELECT * FROM order_stage_subject WHERE order_no=#{orderNo} AND paike_duration>0 AND total_duration>finish_duration
    </select>

    <!-- 批量更新 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE order_stage_subject
            <set>
                <if test="item.goodsNo != null">
                    GOODS_NO=#{item.goodsNo,jdbcType=VARCHAR},
                </if>
                <if test="item.oldOrderNo != null">
                    OLD_ORDER_NO=#{item.oldOrderNo,jdbcType=VARCHAR},
                </if>
                <if test="item.enable != null">
                    ENABLE=#{item.enable,jdbcType=INTEGER},
                </if>
                <if test="item.totalDuration != null">
                    TOTAL_DURATION=#{item.totalDuration,jdbcType=BIGINT},
                </if>
                <if test="item.paikeDuration != null">
                    PAIKE_DURATION=#{item.paikeDuration,jdbcType=BIGINT},
                </if>
                <if test="item.finishDuration != null">
                    FINISH_DURATION=#{item.finishDuration,jdbcType=BIGINT},
                </if>
                <if test="item.status != null">
                    STATUS=#{item.status,jdbcType=INTEGER},
                </if>
                <if test="item.creatorId != null">
                    CREATOR_ID=#{item.creatorId,jdbcType=BIGINT},
                </if>
                <if test="item.startDate != null">
                    START_DATE=#{item.startDate,jdbcType=TIMESTAMP},
                </if>
                <if test="item.endDate != null">
                    END_DATE=#{item.endDate,jdbcType=TIMESTAMP},
                </if>
                <if test="item.createTime != null">
                    CREATE_TIME=#{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updateTime != null">
                    UPDATE_TIME=#{item.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.lessonTableId != null">
                    LESSON_TABLE_ID=#{item.lessonTableId,jdbcType=BIGINT},
                </if>
            </set>
            WHERE ORDER_NO = #{item.orderNo,jdbcType=VARCHAR}
            AND STAGE_ID = #{item.stageId, jdbcType=BIGINT}
            AND SUBJECT_ID = #{item.subjectId, jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 查询公共科目 -->
    <select id="queryCommonSubjects" resultMap="BaseResultMap">
      SELECT
            oss.*
        FROM
            order_stage_subject oss
            LEFT JOIN class_stage_subject css ON oss.stage_id = css.stage_id
            AND oss.subject_id = css.subject_id
            AND oss.total_duration = css.TOTAL_DURATION
        WHERE
            css.CLASS_ID = #{classId}
            <if test="orderNos != null and orderNos.size() > 0">
                AND oss.order_no IN
                <foreach collection="orderNos" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>

    <update id="updateStatusIntoWaitAssign" >
        UPDATE order_stage_subject
        <set>
            status=2
        </set>
        <where>
            status=1 AND (order_no,stage_id,subject_id) IN
            <foreach collection="ocssList" close=")" separator="," open="(" item="item">
                (#{item.orderNo},#{item.stageId},#{item.subjectId})
            </foreach>
        </where>
    </update>

    <update id="updateStatusFromWaitAssign2WaitStart">
        UPDATE order_stage_subject
        <set>
            status=1,

        </set>
        <where>
            (order_no,stage_id,subject_id) IN
            <foreach collection="ocssList" close=")" separator="," open="(" item="item">
                (#{item.orderNo},#{item.stageId},#{item.subjectId})
            </foreach>
        </where>
    </update>

    <update id="updateStartEndTimeIfPaikeZero">
        <foreach collection="ossList" item="item" index="index" open="" close="" separator=";">
            UPDATE order_stage_subject
            <set>
                <if test="item.goodsNo != null">
                    GOODS_NO=#{item.goodsNo,jdbcType=VARCHAR},
                </if>
                <if test="item.oldOrderNo != null">
                    OLD_ORDER_NO=#{item.oldOrderNo,jdbcType=VARCHAR},
                </if>
                <if test="item.enable != null">
                    ENABLE=#{item.enable,jdbcType=INTEGER},
                </if>
                <if test="item.totalDuration != null">
                    TOTAL_DURATION=#{item.totalDuration,jdbcType=BIGINT},
                </if>
                <if test="item.paikeDuration != null">
                    PAIKE_DURATION=#{item.paikeDuration,jdbcType=BIGINT},
                </if>
                <if test="item.finishDuration != null">
                    FINISH_DURATION=#{item.finishDuration,jdbcType=BIGINT},
                </if>
                <if test="item.status != null">
                    STATUS=#{item.status,jdbcType=INTEGER},
                </if>
                <if test="item.creatorId != null">
                    CREATOR_ID=#{item.creatorId,jdbcType=BIGINT},
                </if>
                <if test="item.createTime != null">
                    CREATE_TIME=#{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updateTime != null">
                    UPDATE_TIME=#{item.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.lessonTableId != null">
                    LESSON_TABLE_ID=#{item.lessonTableId,jdbcType=BIGINT},
                </if>
                    START_DATE=null,
                    END_DATE=null
            </set>
            WHERE ORDER_NO = #{item.orderNo,jdbcType=VARCHAR}
            AND STAGE_ID = #{item.stageId, jdbcType=BIGINT}
            AND SUBJECT_ID = #{item.subjectId, jdbcType=BIGINT}
        </foreach>
    </update>
    
    <update id="updatePaikeDuration">
		update order_stage_subject set PAIKE_DURATION = PAIKE_DURATION + #{duration} 
		where order_no = #{orderNo} and stage_id = #{stageId} and subject_id = #{subjectId}
	</update>
	
	<update id="updateFinishDuration">
		update order_stage_subject set FINISH_DURATION = FINISH_DURATION + #{duration} 
		where order_no = #{orderNo} and stage_id = #{stageId} and subject_id = #{subjectId}
	</update>

    <update id="updateSingleAddDuration" parameterType="com.huatu.paike.dal.goodsOrder.entity.UpdateOrderStageSubjectParam">
        update order_stage_subject
        <set>
            <if test="orderNo != null">
                ORDER_NO=#{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="goodsNo != null">
                GOODS_NO=#{goodsNo,jdbcType=VARCHAR},
            </if>
            <if test="oldOrderNo != null">
                OLD_ORDER_NO=#{oldOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="stageId != null">
                STAGE_ID=#{stageId,jdbcType=BIGINT},
            </if>
            <if test="subjectId != null">
                SUBJECT_ID=#{subjectId,jdbcType=BIGINT},
            </if>
            <if test="enable != null">
                ENABLE=#{enable,jdbcType=INTEGER},
            </if>
            <if test="totalDuration != null">
                TOTAL_DURATION=#{totalDuration,jdbcType=BIGINT},
            </if>
            <if test="paikeDuration != null">
                PAIKE_DURATION=#{paikeDuration,jdbcType=BIGINT},
            </if>
            <if test="finishDuration != null">
                FINISH_DURATION=#{finishDuration,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                STATUS=#{status,jdbcType=INTEGER},
            </if>
            <if test="creatorId != null">
                CREATOR_ID=#{creatorId,jdbcType=BIGINT},
            </if>
            <if test="startDate != null">
                START_DATE=#{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                END_DATE=#{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lessonTableId != null">
                LESSON_TABLE_ID=#{lessonTableId,jdbcType=BIGINT},
            </if>
            <if test="addPaikeDuration != null">
                PAIKE_DURATION = PAIKE_DURATION + #{addPaikeDuration, jdbcType=INTEGER},
            </if>
            <if test="addFinishDuration != null">
                FINISH_DURATION = FINISH_DURATION + #{addFinishDuration, jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <update id="update" parameterType="com.huatu.paike.dal.goodsOrder.entity.OrderStageSubject">
        UPDATE order_stage_subject
        SET
          start_date=#{startDate},end_date=#{endDate},status=#{status},update_time=#{updateTime}
        <if test="paikeDuration != null">
            ,paike_duration = #{paikeDuration}
        </if>
        <where>
            ID=#{id}
        </where>
    </update>

    <select id="queryEndOss" resultMap="BaseResultMap">
        SELECT
            oss.ID
        FROM
            order_stage_subject oss JOIN order_info oi ON oss.order_no=oi.order_no AND oi.ORDER_STATE!=7 AND oi.BUY_TIME BETWEEN #{startTime} AND #{endTime}
        WHERE
            oss.START_DATE IS NOT NULL AND oss.START_DATE BETWEEN #{startTime} AND #{endTime}
    </select>

    <select id="queryClassId" resultType="map">
        SELECT oss.ID,ocss.CLASS_ID,ocss.BATCH_NUM FROM order_stage_subject oss JOIN order_class_stage_subject ocss ON oss.order_no=ocss.ORDER_NO AND oss.stage_id=ocss.STAGE_ID AND oss.subject_id=ocss.SUBJECT_ID WHERE oss.ID IN
        <foreach collection="ids" close=")" item="item" open="(" separator=",">
            #{item}
        </foreach>
     </select>

    <resultMap id="ossId2CssResultMap" type="com.huatu.paike.dal.goodsOrder.dto.OssId2CssDto">
        <id jdbcType="BIGINT" property="ossId" column="ossId"/>
        <association property="css" javaType="com.huatu.paike.dal.paike.entity.ClassStageSubject" resultMap="com.huatu.paike.dal.paike.mapper.ClassStageSubjectMapper.BaseResultMap"/>
    </resultMap>
    
    <select id="queryCss" resultMap="ossId2CssResultMap">
        SELECT
            oss.id AS `ossId`,css.*
        FROM
            order_stage_subject oss
        JOIN order_class_stage_subject
            ocss ON oss.order_no = ocss.order_no
        AND oss.stage_id = ocss.stage_id
        AND oss.subject_id = ocss.subject_id
        JOIN class_stage_subject css ON ocss.class_id = css.class_id
        AND ocss.stage_id = css.stage_id
        AND ocss.subject_id = css.subject_id
        AND ocss.batch_num = css.batch_num
        WHERE oss.ID IN 
        <foreach collection="ids" close=")" separator="," open="(" item="item">
            #{item}
        </foreach>
    </select>
</mapper>